/* -----------------------------------------  ID DE BASE DES PAGES PARTENAIRES --------------------------- */
#candidature{
  height: auto;
  width:100%;
  margin: 0;
  position: relative;
  top:0 !important;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

#candidature h1 {font-size: 63px;}
#candidature p {font-size: 21px;width: 60%;margin-left: 19% !important;}

#para1, #para2, #para3, #para4, #para5, #para6 {padding-top: 5% !important;padding-bottom: 5% !important;}

#para1{

  height: auto;
  background-color: #404d56;
  color: white;
  text-align: center;
}

#para2{
  width: 100%;
  height: auto;
  background-color: #c4c4c4;
  color: #333;
  text-align: center;
}

#para3{
  width: 100%;
  height: auto;
  background-color: white;
  color: #333;
  text-align: center;
}

#para4{
  width: 100%;
  height: auto;
  background-color: #c4c4c4;
  color:#333;
  text-align: center;
}

#para5{
  width: 100%;
  height: auto;
  background-color: #404d56;
  color: white;
  text-align: center;
}

#para6{
  width: 100%;
  height: auto;
  background-color: #333;
  color: white;
  text-align: center;
}

@media all and (max-width:1200px) {
  #para1, #para2, #para3, #para4, #para5 {}
}

/* --------- TROMBINOSCOPE ---------*/

.appr{
    border: 15px solid transparent;
    width: 15%; height: 10%;
}

.format{
    border: 15px solid transparent;
}

.appr p, .format p{
    color: white;
    font-size:12px;
    font-weight: bold;
    text-align: center;
}

.format p > img{
    width: 30%; height: 20%;
}
